#bodycontainer {
	margin-right: auto;
	margin-left: auto;
border: 5px solid black;
	width: 1000px;
}
ul li {
	list-style-type: none;
	color: blue;
	display: block;
	width: 110px;
	float: left;
}
#mainbanner {
	background-color: red;
	height: 200px;
	width: 1000px;
	background-image: url("images/tree.jpg");
	margin-left: auto;
    margin-right: auto;
}
#space {
	height: 10px;
	width: 1000px;
	background-color: #ff00ff;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#panelplaceholder {
	margin-left: auto;
    margin-right: auto;
	height: 200px;
	width: 330px;
    background-color: #A4A4A4;
    display: inline-block;
}
#left {
	background-color: black;
	height:200px;
	width: 330px;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
}
#center {
	background-color: blue;
	height: 200px;
	width: 330px;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
}
#right {
	background-color: yellow;
	height: 200px;
	width: 330px;
	display: inline-block;
	position: right;
	margin-left: auto;
    margin-right: auto;
}
iframe {
	height: 30px;
	width: 1000px;
	border: none;
	background-color: #4169E1;
	margin-left: auto;
    margin-right: auto;
}
#footer {
	height: 30px;
	width: 1000px;
	background-color: #FF6666;
	clear: both;
	margin-left: auto;
    margin-right: auto;
}